/* font-family: 'Comfortaa', cursive;
font-family: 'Montserrat', sans-serif; */

.about {
  margin-top: 120px;
  font-family: 'Comfortaa', cursive;
}

.about .meet {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.about .ourTeam {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -5px;
}

.about .teem i {
  font-size: 25px;
  margin-left: 10px;
  color: black;
}
