* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

*::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

* {
  scroll-behavior: smooth
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-main{
  padding-top: 30px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper-body {
  flex-grow: 1;
}

input {
  padding: 0 4px;
}

.mainPageBgVideo {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
