/* font-family: 'Comfortaa', cursive;
font-family: 'Montserrat', sans-serif; */

.main {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-top: 120px;
}

.main .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -5px;
  overflow-y: scroll;
}

.main .reviews {
  max-width: 815px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: 0px 0px 6px 2px rgb(34 60 80 / 17%);
}

.main .profileForm {
  position: sticky;
  top: 120px;
  border: 1px solid white;
  border-radius: 2px;
  max-width: 300px;
  box-shadow: 0px 0px 6px 2px rgb(34 60 80 / 17%);
  padding: 15px;
}

.main .myReviews {
  font-size: 24px;
  padding: 20px 0;
  line-height: 25px;
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
  text-decoration: underline;
}

.main .user {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: relative;
}

.main .userPhoto {
  width: 250px;
  height: 250px;
  background: #f7f7f7;
  border-radius: 50%;
}

.main .user .addImg {
  position: absolute;
  bottom: 10px;
  right: 65px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  color: black;
  background: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(34 60 80 / 17%);
}

.main .user .addImg:hover {
  background: darkblue;
  color: white;
  border-color: rgb(34 60 80 / 17%);
}

.input {
  display: none;
}

.main .userInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 4px;
}

.main .userInfo .name {
  font-size: 20px;
  padding: 4px;
  line-height: 21px;
  margin: 10px 0;
  font-weight: 700;
}

.main .userInfo .rating {
  position: absolute;
  top: -270px;
  left: -22px;
  border: 1px solid #27af27;
  padding: 2px 19px;
  font-size: 16px;
  font-weight: 900;
  color: white;
  background: #27af27;
  border-radius: 4px;
}

.main .userInfo .btn {
  width: 100%;
  background: white;
  border-radius: 4px;
  border: none;
  padding: 6px;
  font-weight: 500;
  font-family: 'Comfortaa', cursive;
}

.main .userInfo .btn:hover {
  background-color: rgb(48, 56, 65);
  color: white;
  transition: all 0.6s;
}
.reviewsNone {
  font-size: 24px;
  padding: 20px 0;
  line-height: 25px;
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
}

.fontFamily {
  font-family: 'Comfortaa', cursive;
  padding: 10px 5px;
}

.fontFamily .fab {
  font-size: 18px;
}
